<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mensaje no enviado</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <p>
        Esto ocurre por una mala conexion a internet
        si el problema persiste despues de un intento llamar 
        al desarrollador. <a href="https://www.google.com" target="_blank"
            title="visitarás google">aquí</a>
    </p>
</body>
</html>